<c-row>
    <c-col>
        @if (newItemLiteral) {
            <c-row>
                <c-col>
                    <button cButton color="primary" (click)="doNewItem()" class="mb-3">
                        <svg cIcon [name]="iconSubset.cilPlus" size="md"></svg>
                        {{newItemLiteral}}
                    </button> 
                </c-col>
            </c-row>
        }
        <c-row>
            <c-col>
                <div style="width:100%; overflow: hidden">
                    <input cFormControl type="text" id="search" name="search" 
                        [(ngModel)]="searchFilter"
                        [placeholder]="literals.common?.filter + '...'"
                        (keyup)="startSearchSub()"
                        style="display:inline; width:calc(100% - 40px);"
                    >
                    <button cButton color="secondary" class="mb-1" style="width:40px" (click)="doClearSearch()">
                        <svg cIcon [name]="iconSubset.cilTrash" size="sm"></svg>
                    </button> 
                </div>
            </c-col>
        </c-row>
    </c-col>
</c-row>
<c-row>
    <c-col>
        <c-card class="my-3">
            <c-card-body>
                <ng-content />
            </c-card-body>
        </c-card>
    </c-col>
</c-row>