<app-ip-configuration-modal />
<app-link-configuration-modal />

<c-row>
  <c-col sm="12">
    <c-card class="my-2 mb-3">
      <c-card-body>
        <c-row>
          <c-col>
            <h4 style="display: inline" class="card-title" style="margin-bottom: 10px;">{{literals.network!.summary}}</h4>
            @for (v of ethernetValues; track $index)
            {
              <c-row>
                <c-col>
                  {{v.key}}
                </c-col>
                <c-col style="text-align: right;">
                  {{v.value}}
                </c-col>
              </c-row>
            }
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
@if (authService.isAdmin) {
    <c-row>
        <c-col>
            <button cButton color="primary" (click)="doIpConfig()" class="mb-3">
                {{literals.network!.ipConfiguration}}
            </button> 
            &nbsp;
            <button cButton color="primary" (click)="doConfigureLink()" class="mb-3">
                {{literals.network!.linkConfiguration}}
            </button> 
        </c-col>
    </c-row>
}