<c-modal id="profileModal" [(visible)]="visible" alignment="center" backdrop="static" keyboard="true">
  <form cForm (submit)="saveChanges()">
    <c-modal-header>
      <h5 cModalTitle>{{modalTitle}}</h5>
      <button (click)="dismiss()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>

      @if (currentUser.userId!) {
        <label for="userId">ID</label>
        <input cFormControl type="text" id="userId" name="userId" class="mb-3" [value]="currentUser.userId" disabled />
      }

      <label for="userName">{{literals.common!.username}}</label>
      <input cFormControl type="text" id="userName" name="userName" class="mb-3" [(ngModel)]="currentUser.userName"
        [disabled]="currentUser.userId! > 0" />

      <label for="userRole">{{literals.security!.userRole}}</label>
      <select cFormControl type="text" id="userRole" name="userRole" cSelect class="mb-3" [(ngModel)]="userRole"
        [disabled]="(currentUser.userId! > 0 && currentUser.userId! < 1000) || (currentUser.userId! == authService.userId)">
        <option value="1">{{literals.security?.basicUser}}</option>
        <option value="2">{{literals.security?.operator}}</option>
        <option value="3">{{literals.security?.administrator}}</option>
      </select>

      <label for="localeCode">{{literals.common!.language}}</label>
      <select cFormControl type="text" id="localeCode" name="localeCode" cSelect class="mb-3"
        [(ngModel)]="currentUser!.localeCode"
        >
        @for (l of locales; track l.localeCode) 
        {
          <option [value]="l.localeCode">{{l.description}}</option>
        }
      </select>

      @if (currentUser.userId!) {
        <div class="form-check">
          <input 
            class="form-check-input"
            name="persist"
            id="persist" 
            type="checkbox"
            [(ngModel)]="changePassword"
          />
          <label class="form-check-label" for="persist">
            {{literals.security?.changePassword}}
          </label>
        </div>
      }

      @if (!(currentUser.userId!) || changePassword) {
        <label for="password">{{literals.common!.password}}</label>
        <input cFormControl type="password" id="password" name="password" class="mb-3" [(ngModel)]="userPassword" />
      }

    </c-modal-body>
    <c-modal-footer>
      <button type="submit" cButton color="primary">{{literals.common!.buttonOk}}</button>
      <button (click)="dismiss()" cButton color="secondary">{{literals.common!.buttonCancel}}</button>
    </c-modal-footer>
  </form>
</c-modal>