/* You can add global styles to this file, and also import other style files */

// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@import "theme";

// Some temp fixes
//@import "fixes";

// If you want to add custom CSS you can put it here.
@import "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@import "examples";

.cog1-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal-backdrop.show {
    opacity: 0.75;
}

.mlr-1 {
    margin-left: 3px;
    margin-right: 3px;
}

.mlr-2 {
    margin-left: 6px;
    margin-right: 6px;
}

.plr-1 {
    padding-left: 3px;
    padding-right: 3px;
}

.plr-2 {
    padding-left: 6px;
    padding-right: 6px;
}